<div class="flex justify-content-center h-full flex-column">
  <div class="formgrid p-fluid grid mx-5 my-2">
    <div class="col-12 my-3">
      <p-floatLabel>
        <input
          pInputText
          id="nome"
          type="text"
          [disabled]="produto.disabled.nome"
          [(ngModel)]="produto.nome"
        />
        <label for="nome">Nome do Produto</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <p-inputMask
          id="codigoBarras"
          mask="9999999999999"
          [autoClear]="false"
          [(ngModel)]="produto.codigoBarras"
          (onComplete)="apiBarcode()"
        />
        <label for="codigoBarras">Codigo de Barras</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <input
        pInputText
        id="descricao"
        type="text"
        [disabled]="produto.disabled.descricao"
        [(ngModel)]="produto.descricao"
        />
        <label for="descricao">Descrição</label>
      </p-floatLabel>
    </div>

    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
    <p-autoComplete
      id="grupoProduto"
      [(ngModel)]="produto.grupoProduto"
      [dropdown]="true"
      [suggestions]="grupoProdutoFilter"
      (completeMethod)="filterItems($event)"
      optionLabel="nomeGrupo"
      />
      <label for="grupoProduto">Grupo de Produto</label>
    </p-floatLabel>
  </div>
  <div class="col-12 my-3 md:col-6">
    <p-dropdown
      [options]="tipoProduto"
      [(ngModel)]="tipoProdutoSelecionado"
      (ngModelChange)="cadastroTipoProduto($event)"
      optionLabel="label"
      [showClear]="true"
      placeholder="Tipo de Produto"
    >
      <ng-template pTemplate="selectedItem">
        <div style="width: 125px; height: fit-content">
          {{ tipoProdutoSelecionado.label | titlecase }}
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div style="width: fit-content; height: fit-content; float: left">
          {{ item.label | titlecase }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col-12 my-3 md:col-6">
    <p-dropdown
      [options]="apresentacao"
      [(ngModel)]="apresentacaoSelecionado"
      (ngModelChange)="cadastroApresentacao($event)"
      optionLabel="label"
      [showClear]="true"
      placeholder="Apresentação"
    >
      <ng-template pTemplate="selectedItem">
        <div style="width: 125px; height: fit-content">
          {{ apresentacaoSelecionado.label | titlecase }}
        </div>
      </ng-template>
      <ng-template let-item pTemplate="item">
        <div style="width: fit-content; height: fit-content; float: left">
          {{ item.label | titlecase }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="col-12 my-3 md:col-6">
    <p-floatLabel>
      <p-inputNumber
        id="margemLucro"
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="5"
        [showButtons]="true"
        buttonLayout="horizontal"
        [min]="0"
        [max]="100"
        suffix="%"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
        [(ngModel)]="produto.margemLucro"
      />
      <label class="px-6" for="margemLucro">Margem de Lucro</label>
    </p-floatLabel>
  </div>
  <div class="col-12 my-3 md:col-6">
    <p-floatLabel>
      <p-inputNumber
        id="valorProduto"
        inputId="minmaxfraction"
        mode="decimal"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        prefix="R$"
        [(ngModel)]="produto.valorProduto"
      />
      <label for="valorProduto">Valor do Produto</label>
    </p-floatLabel>
  </div>
  <div class="col-12 my-3 sm:col-6">
    <p-checkbox
      [(ngModel)]="produto.atualizaPreco"
      [binary]="true"
      inputId="atualizaPreco"
    />
    <label for="atualizaPreco">Aceita Atualização de Preço?</label>
  </div>
    <p-toast></p-toast>
    <div class=" col my-3 sm:col md:col-7 lg:col-5 xl:col-3 ">
      <p-button
        label="Cadastrar"
        icon="pi pi-check"
        [loading]="loading"
        [disabled]="!produto.codigoBarras || !produto.nome || !produto.grupoProduto || !tipoProdutoSelecionado || !apresentacaoSelecionado || !produto.valorProduto"
        (onClick)="load()"
      />
    </div>
  </div>
</div>
