<div class="flex justify-content-center h-full flex-column">
  <div class="formgrid p-fluid grid mx-5 my-2">
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <input
          pInputText
          id="nomeFantasia"
          type="text"
          [(ngModel)]="fornecedor.nomeFantasia"
          [disabled]="fornecedor.disabled.nomeFantasia"
          required
        />
        <label for="nomeFantasia">Nome Fantasia</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <input
          pInputText
          id="razaoSocial"
          type="text"
          [(ngModel)]="fornecedor.razaoSocial"
          [disabled]="fornecedor.disabled.razaoSocial"
          required
        />
        <label for="razaoSocial">Razão Social</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <p-inputMask
          mask="99.999.999/9999-99"
          id="cnpj"
          [(ngModel)]="fornecedor.cnpj"
          (ngModelChange)="cnpj()"
          required
        />
        <label for="cnpj">CNPJ</label>
      </p-floatLabel>
    </div>

    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <p-inputMask
          *ngIf="isFoneValid()"
          mask="(99) 9999-99999"
          id="telefone"
          [autoClear]="false"
          [(ngModel)]="fornecedor.telefone"
        />
        <p-inputMask
          *ngIf="!isFoneValid()"
          mask="(99) 99999-9999"
          id="telefone"
          [autoClear]="false"
          [(ngModel)]="fornecedor.telefone"
        />
        <label for="telefone">Telefone</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-floatLabel>
        <input
          pInputText
          id="email"
          [(ngModel)]="fornecedor.email"
          [disabled]="fornecedor.disabled.email"
          required
        />
        <label for="email">Email</label>
      </p-floatLabel>
    </div>
    <div class="col-12 my-3 md:col-6">
      <p-dropdown
        [options]="situacaoContrato"
        [(ngModel)]="situacaoCadastroSelecionado"
        (ngModelChange)="cadastroSituacao($event)"
        optionLabel="label"
        [showClear]="true"
        placeholder="Situação do Contrato"
      >
        <ng-template pTemplate="selectedItem">
          <div style="width: 125px; height: fit-content">
            {{ situacaoCadastroSelecionado.label | titlecase }}
          </div>
        </ng-template>
        <ng-template let-item pTemplate="item">
          <div style="width: fit-content; height: fit-content; float: left">
            {{ item.label | titlecase }}
          </div>
        </ng-template>
      </p-dropdown>
    </div>
    <p-toast></p-toast>
    <div class="col my-3 sm:col md:col-6 lg:col-5 xl:col-4">
      <p-button
        label="Cadastrar"
        icon="pi pi-check"
        [loading]="loading"
        [disabled]="
          !(
            fornecedor.nomeFantasia &&
            fornecedor.razaoSocial &&
            fornecedor.cnpj &&
            fornecedor.telefone &&
            fornecedor.email &&
            situacaoCadastroSelecionado
          )
        "
        (onClick)="load()"
      />
    </div>
  </div>
</div>
