<div class="m-5">
  <p-tabView (activeIndexChange)="produtoChange($event)">
    <p-tabPanel header="Produto">
      <p-table
        [value]="produtos"
        [lazy]="true"
        [paginator]="true"
        [rows]="rows"
        [(selection)]="selectedProdutos"
        [totalRecords]="totalProdutos"
        sortMode="multiple"
        [rowsPerPageOptions]="[5, 10, 20]"
        (onLazyLoad)="loadProdutos($event)"
      >
        <ng-template pTemplate="caption">

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th><p-columnFilter
              type="text"
              field="id"
              placeholder="Buscar Por Id"
              ariaLabel="Filter Id"/></th>
            <th><p-columnFilter
              type="text"
              field="nome"
              placeholder="Buscar por nome"
              ariaLabel="Filter Nome" /></th>
          </tr>
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th pSortableColumn="id">ID<p-sortIcon field="id"/></th>
            <th pSortableColumn="nome">Nome do Produto<p-sortIcon field="nome"/></th>
            <th pSortableColumn="tipoProduto">Tipo Produto<p-sortIcon field="tipoProduto"/></th>
            <th pSortableColumn="codigoBarras">Código de Barras<p-sortIcon field="codigoBarras"/></th>
            <th pSortableColumn="valorProduto">Valor Produto<p-sortIcon field="valorProduto"/></th>
            <th pSortableColumn="margemLucro">Margem de Lucro<p-sortIcon field="margemLucro"/></th>
            <th pSortableColumn="valorVenda">Valor Venda<p-sortIcon field="valorVenda"/></th>
            <th pSortableColumn="atualizaPreco">Atualiza Preço<p-sortIcon field="atualizaPreco"/></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.nome }}</td>
            <td>{{ item.tipoProduto }}</td>
            <td>{{ item.codigoBarras }}</td>
            <td>{{ item.valorProduto | currency }}</td>
            <td>{{ item.margemLucro }}%</td>
            <td>{{ item.valorVenda | currency }}</td>
            <td>
              <i class="pi pi-check" *ngIf="item.atualizaPreco"></i>
              <i class="pi pi-times" *ngIf="!item.atualizaPreco"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Grupo Produto">
      <p-table
        [value]="grupoProdutos"
        [lazy]="true"
        [paginator]="true"
        [rows]="rows"
        [(selection)]="selectedGrupoProdutos"
        [totalRecords]="totalGrupoProdutos"
        [rowsPerPageOptions]="[5, 10, 20]"
        sortMode="multiple"
        (onLazyLoad)="loadGrupoProdutos($event)"
      >
        <ng-template pTemplate="caption"> </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th pSortableColumn="id">ID<p-sortIcon field="id"/></th>
            <th pSortableColumn="nomeGrupo">Nome<p-sortIcon field="nomeGrupo"/></th>
            <th pSortableColumn="margemLucro">Margem de Lucro<p-sortIcon field="margemLucro"/></th>
            <th pSortableColumn="tipoGrupo">Tipo Grupo Produto<p-sortIcon field="tipoGrupo"/></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <p-tableCheckbox [value]="item" />
            </td>
            <td>{{ item.id }}</td>
            <td>{{ item.nomeGrupo }}</td>
            <td>{{ item.margemLucro }}%</td>
            <td>{{ item.tipoGrupo }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>
