.justify-content-center{
  height: 100%;
}
.justify-content-center > div{
  margin: 0 10%;
  height: fit-content;
}
.justify-content-center > div > div{
  width: 100%;
}
p-floatLabel{
  margin: 15px;
  height: fit-content;
  width: 100%;
}
p-dropdown{
  margin: 15px;
  height: fit-content;
}
.flex-warp{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
p-button{
  height: fit-content;
  margin: 15px;
}
