<div class="grid" *ngIf="!filialId">
  <div class="col-6">
    <div class="m-4">
      <p-tabView>
        <p-tabPanel header="Produtos">
          <p-chart
            type="pie"
            responsive="true"
            [data]="produtosFilais"
            [options]="options"
          />
        </p-tabPanel>
        <p-tabPanel header="Grupos de Produto">
          <p-chart
            type="pie"
            responsive="true"
            [data]="gruposProdutoFiliais"
            [options]="options"
          />
        </p-tabPanel>
        <p-tabPanel header="Fornecedores">
          <p-chart
            type="pie"
            responsive="true"
            [data]="fornecedoresFiliais"
            [options]="options"
          />
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>

  <div class="col-6">
    <div class="m-4">
      <p-chart
        type="bar"
        responsive="true"
        [data]="maiorValorVendaFilial"
        [options]="moneyOptions"
      />
    </div>

    <div class="m-4">
      <p-chart
        type="bar"
        responsive="true"
        [data]="maiorValorProdutoFilial"
        [options]="moneyOptions"
      />
    </div>
  </div>
</div>
<div class="grid" *ngIf="filialId">
  <div class="col-6">
    <div class="m-4">
      <p-chart
        responsive="true"
        type="pie"
        [data]="produtosGrupos"
        [options]="options"
      />
    </div>
  </div>
  <div class="col-6">
    <div class="m-4">
      <p-chart
        type="bar"
        responsive="true"
        [data]="maiorValorVendaOfFilial"
        [options]="moneyOptions"
      />
    </div>
    <div class="m-4">
      <p-chart
        type="bar"
        responsive="true"
        [data]="maiorValorProdutoOfFilial"
        [options]="moneyOptions"
      />
    </div>
  </div>
</div>
