// div{
//   display: flex;
//   flex-direction: row;
//   width: 100%;
// }
// body{
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }
// app-header{
//   height: fit-content;
// }
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
p-toolbar div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
i{
  margin-left: 10px;
  margin-right: 10px;
}
div.p-sidebar-content{
  overflow-y: visible;
}
div.router{
  height: 100%;
}
div.body{
  height: 100%;
}
div.menu{
  height: 100%;
}
.filial{
  height: 200px;
  width: 500px;
}
div.p-overlaypanel ::after {
  display: none; /* Caso haja uma seta padrão, remova-a */
}
div.p-overlaypanel ::before {
  display: none; /* Caso haja uma seta padrão, remova-a */
}
