<div>
  <p-toolbar>
    <ng-template pTemplate="start">
      <div class="flex flex-row justify-content-center align-items-center">
        <i
          *ngIf="darkMode"
          class="pi pi-bars mx-1"
          style="font-size: 2rem;height: fit-content; color: var(--cyan-50)"
          (mouseenter)="hoverTest($event, true)"
          (mouseleave)="hoverTest($event, false)"
          (click)="toggleMenu()"
        ></i>
        <i
          *ngIf="!darkMode"
          class="pi pi-bars mx-1"
          style="font-size: 2rem"
          (mouseenter)="hoverTest($event, true)"
          (mouseleave)="hoverTest($event, false)"
          (click)="toggleMenu()"
        ></i>
        <img [src]="imagem" />
      </div>

    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex flex-row justify-content-center align-items-center">
        <p *ngIf="localFilial">
          Bem Vindo, {{ localFilial.nomeFantasia }}
        </p>
        <i
        *ngIf="darkMode"
        class="pi pi-moon mx-1"
        style="font-size: 2rem; color: var(--cyan-50)"
        (click)="toggleMode()"
      ></i>
      <i
        *ngIf="!darkMode"
        class="pi pi-sun mx-1"
        style="font-size: 2rem; color: var(--yellow-400)"
        (click)="toggleMode()"
      ></i>
        <i class="pi pi-user mx-1" style="font-size: 2rem" #test (click)="op.toggle($event)"></i>
        <p-overlayPanel #op>
          <div class="flex flex-column">
            <p-button class="m-1" (onClick)="showDialog()" label="Selecionar Filial" />
            <p-button *ngIf="localFilial" class="m-1" (click)="quit(); op.toggle($event)" label="Sair" />
          </div>
        </p-overlayPanel>

      </div>
    </ng-template>
  </p-toolbar>

  <div>
    <p-sidebar #sidebarRef [(visible)]="expanded" [style]="{ width: '300px' }">
      <ng-template pTemplate="header">
        <img src="../../../../favicon.ico" height="40" class="mr-2" />
      </ng-template>
      <ng-template pTemplate="content">
        <p-panelMenu
          [model]="items"
          [style]="{ width: 'fit-content' }"
          class="overlay"
        />
      </ng-template>
    </p-sidebar>
    <div>
      <p-toast></p-toast>
      <router-outlet></router-outlet>
    </div>
  </div>
  <p-dialog header="Selecionar Filial" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-5">Selecione a sua filial.</span>
    <div class="flex align-items-center gap-3 mb-3 z-0">
      <p-autoComplete
      [(ngModel)]="selectedItem"
      [dropdown]="true"
      [suggestions]="filiaisFilter"
      (completeMethod)="filterItems($event)"
      optionLabel="nomeFantasia"
      />
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Save" (onClick)="saveFilial(selectedItem)" />
    </div>
</p-dialog>
</div>
